@section Title{<title>Form</title>}
@section Head {
    <link rel="stylesheet" asp-append-version="true" href="~/css/masonry.css" />
    <link rel="stylesheet" asp-append-version="true" href="~/css/modal.css" />
    <link rel="stylesheet" asp-append-version="true" href="~/css/toggle.button.css" />
    <link rel="stylesheet" asp-append-version="true" href="~/metronic/assets/css/pages/pricing/pricing-1.css" />
}

@section Scripts
{
    <script src="https://unpkg.com/packery@2/dist/packery.pkgd.js"></script>
    <script type="text/javascript" src="~/app/js/chunk-vendors.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/app/js/form.js" asp-append-version="true"></script>
}


<div id="app"></div>