@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{
    <script type="text/javascript" src="~/app/js/chunk-vendors.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/app/js/main.js" asp-append-version="true"></script>
}

<div id="app"></div>