@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.NativeName })
        .ToList();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

<!--begin: Language bar -->

    <div class="kt-header__topbar-item kt-header__topbar-item--langs">
        <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
            <span class="kt-header__topbar-icon">
                <img class="" src="~/images/flags/@(requestCulture.RequestCulture.UICulture.Name).svg" alt=""/>
            </span>
        </div>
        <form asp-controller="Home" asp-action="SetLanguage" asp-route-returnUrl="@returnUrl" method="post" role="form" id="lang_form">
            <input type="hidden" name="culture" asp-for="@requestCulture.RequestCulture.UICulture.Name" id="lang_value"/>

            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim">
                <ul class="kt-nav kt-margin-t-10 kt-margin-b-10">
                    @foreach (var item in cultureItems)
                    {
                        <li class="kt-nav__item kt-nav__item--active">
                            <a href="#" class="kt-nav__link" onclick="document.getElementById('lang_value').value = '@item.Value';document.getElementById('lang_form').submit();">
                                <span class="kt-nav__link-icon"><img src="~/images/flags/@(item.Value).svg" alt=""/></span>
                                <span class="kt-nav__link-text" style="text-transform: capitalize;">@item.Text</span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </form>

    </div>

<!--end: Language bar -->
